<% include ../header.ejs %>

<div class="panel panel-primary">
    <div class="panel-heading">
    username
    </div>
    <div class="panel-body">
    <%= user.username %>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
    password
    </div>
    <div class="panel-body">
    
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
    displayname
    </div>
    <div class="panel-body">
    
    </div>
</div>

<a href="/accounts/profile/edit" class='btn btn-primary'>수정하기</a>

<% include ../footer.ejs %>